body{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer" ; 
}


.blå{
    background-color: blue;
}

.grön{
    background-color: green;
}

.röd{
    background-color: red;
}

.gul{
    background-color: yellowgreen;
}

