
table,th,td{
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

th{
    background-color: lightgray;
}

th:first-of-type{
    text-align: left;
}

th:last-of-type{
    text-align: right;
}

tr:nth-child(odd){
    background-color: red;
}

tr:nth-child(even){
    background-color: yellow;
}

td:last-of-type{
    text-align: right;
}

td:first-of-type{
    text-align: left;
}

td,th{
    padding: 10px;
    text-align: center;
}

table:last-of-type{
    width: 400px;
   height: 300px;
}

.blå{
    background-color: blue;
}

.grön{
    background-color: rgb(115, 255, 0);
}

.svart{
    background-color: black;
}

.gul{
    background-color: yellow;
    ;
}

.röd{
    background-color: red;
    border
}

caption{
    font-size: 130%;
    caption-side: bottom;
    padding: 10px;
    margin-bottom: 20px;
}





